<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Index of {{path}}</title>
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="/files.css">
</head>

<body>
    {{header}}

    <main>
        <h1>📁 Index of {{path}}</h1>

        <table>
            <tr>
                <th>名称</th>
                <th>大小</th>
                <th>最后修改时间</th>
                <th>操作</th>
            </tr>
            {{entries}}
        </table>
    </main>

    {{footer}}
</body>

</html>